:root {
  --lightBlue: #155fa8;
  --darkBlue: #13416e;
  --white: #ffffff;
  --titleFont: Poppins;
  --normalFont: Arial;
  --titleFontSize: 50px;
  --normalFontSize:  30px;
  margin: 0;
  padding: 0;
  display: block;
}


.Redirect-Button {
  width: 20%;
  height: 50px;
  border-radius: 999px;
  padding: 0;
  border: none;
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--normalFont);
  font-size: var(--normalFontSize);
  font-weight: bold;
}
/* 
.container {
  display: block;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  padding: 0;
  background-color: var(--lightBlue);
  width: 100%;
  float:right;
} */

hr {
  width: 90%;
  margin: auto;
  z-index: 0;
}

/* ----------------------------------------navBar Css------------------------------------------- */
.link {
  text-decoration: none;
  display: inline;
  padding: 20px 10px;
  font-weight: 700;
  font-size: large;
}

.navBar {
  background-color: var(--lightBlue);
  width: 100%;
  border-bottom: 2px solid black;
}

#navBar a:hover {
  color: var(--white);
  background-color: var(--darkBlue);
}

#navBar {
  position: sticky;
  z-index: 1;
  top: 0;
  overflow: hidden;
  background-color: var(--lightBlue);
  max-width: 100%;
  text-decoration: none;
}

#navBar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  width: 15%;
}

/* ----------------------------------------Home Css------------------------------------------- */
.home {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 90px);
}
.home .content {
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.home h1 {
  color: var(--darkBlue);
  text-align: center;
  font-weight: 1000;
  font-size: 100px;
}

.home h2 {
  color: var(--darkBlue);
  text-align: center;
  font-weight: 1000;
  font-size: 25px;
  
}
.home h3 {
  color: var(--darkBlue);
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.wrapper {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  width: 100%;
  height: auto;
  font-size: 28px;
  padding-top: 50px;
}

.wrapper .one {
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1;
  align-items: center;
}
.wrapper .two {
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 1;
  align-items: center;
}

button {
  color: white;
  float: center;
  width: 400px;
  height: 80px;
  border-radius: 999px;
  padding: 0;
  border: none;
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--normalFont);
  font-size: var(--normalFontSize);
  font-weight: bold;
}


/* ----------------------------------------About Css------------------------------------------- */
#about {
  height: 100vh;
  width: 100%;
  background-color: var(--lightBlue);
  scroll-margin-top: 85px;
}
#about h1 {
  color:black;
  text-align: center;
  font-weight: 650;
  font-size: 60px;
}

#about p {
  overflow: auto;
  font-size: auto;
}

/* ----------------------------------------Sponser Css------------------------------------------- */
#spons {
  height: fit-content;
  width: 100%;
  background-color: white;
  scroll-margin-top: 85px;
}
#spons h1 {
  color:var(--darkBlue);
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}

.sPic {
  display:block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


/* ----------------------------------------FAQ Css------------------------------------------- */
#faq {
  height: 100vh;
  width: 100%;
  background-color: var(--lightBlue);
  scroll-margin-top: 85px;
}
#faq h1 {
  color:black;
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}



/* ----------------------------------------Contact Css------------------------------------------- */
#contact {
  height: fit-content;
  width: 100%;
  background-color: white;
  scroll-margin-top: 85px;

}
#contact h1 {
  color:var(--darkBlue);
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}
#contact h2 {
  text-align: center;
  display:block;
}
#contact #organized {
  text-align: center;
  background-color: white;
  color: var(--darkBlue);
  display:block;
}

#contact p {
  display:inline-block;
}

.cPic {
  max-width: 50%;
}


/* ----------------------------------------Accordian stuff Css------------------------------------------- */
.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
}
.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.question-title {
  cursor: pointer;
}

@media (max-width: 1000px) and  (min-width: 600px) {
  .link {
    text-decoration: none;
    display: inline;
    padding: 20px 10px;
    font-weight: 700;
    font-size:small;
  }
  
  #navBar {
    position: static;
  }
  
  #navBar a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 25%;
    font-size: 30px;
  }

   /* Home */
   button {
    width: 250px;
    height: 70px;
  }

  #about {
    scroll-margin-top: 0px;
  }
  #about p {
    overflow: auto;
    font-size: 26px;
  }

  #spons {
    scroll-margin-top: 0px;
  }

  #faq {
    scroll-margin-top: 0px;
  }
  
  #contact {
    scroll-margin-top: 0px;
  }

  .sPic {
    height: 15%;
    width:auto;
    display:unset;
  }
}
@media (max-width: 600px) {
  .link {
    text-decoration: none;
    display: inline;
    padding: 20px 10px;
    font-weight: 700;
    font-size:small;
  }
  
  #navBar {
    position: static;
  }
  
  #navBar a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 25%;
    font-size: 22px;
  }
    /* Home */
  button {
    width: 170px;
    height: 60px;
  }

  #about {
    scroll-margin-top: 0px;
  }
  #about p {
    overflow: auto;
    font-size: 22px;
  }

  #spons {
    scroll-margin-top: 0px;
  }

  #faq {
    scroll-margin-top: 0px;
  }
  
  #contact {
    scroll-margin-top: 0px;
  }

  .sPic {
    height: 10%;
    width:auto;
    max-width: 50%;
  }
}
