:root {
  --lightBlue: #155fa8;
  --darkBlue: #13416e;
  --white: #ffffff;
  --titleFont: Poppins;
  --normalFont: Arial;
  --titleFontSize: 50px;
  --normalFontSize:  30px;
}

.Redirect-Button {
  width: 20%;
  height: 50px;
  border-radius: 999px;
  padding: 0;
  border: none;
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--normalFont);
  font-size: var(--normalFontSize);
  font-weight: bold;
}


.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
}

hr {
  width: 90%;
  margin: auto;
}

/* ----------------------------------------Sponser Css------------------------------------------- */
.navBar {
  background-color: #182b49;
}

#navBar a:hover {
  color: white;
  background-color: #182b49;
}

#navBar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #235ba9;
  max-width: 100%;
  text-decoration: none;
}

#navBar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}


/* ----------------------------------------Home Css------------------------------------------- */
.home {
  height: 100vh;
  width: auto;
  background-color: white;
}
.home h1 {
  color:#182b49;
  text-align: center;
  font-weight: 1000;
  font-size: 100px;
  padding-top: 70px;
}
.home h2 {
  color:#182b49;
  text-align: center;
  font-weight: 1000;
  font-size: 25px;
  
}
.home h3 {
  color:#182b49;
  text-align: center;
  font-weight: 500;
  font-size: 35px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.wrapper {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;

  width: 100%;
  height: auto;
  font-size: 28px;
  padding-top: 50px;
}
.one button {
  grid-column: 1 / 2;
  grid-row: auto;
  color: white;
  max-height:500px;
  float: center;
  width: 50%;
  height: 80px;
  border-radius: 999px;
  padding: 0;
  border: none;
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--normalFont);
  font-size: var(--normalFontSize);
  font-weight: bold;
}
.two {
  text-align: center;
}
.one {
  text-align: center;
}
.two button {
  grid-column: 2 / 3;
  grid-row: auto;
  color: white;
  max-height:500px;
  float: center;
  width: 50%;
  height: 80px;
  border-radius: 999px;
  padding: 0;
  border: none;
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--normalFont);
  font-size: var(--normalFontSize);
  font-weight: bold;
}

/* ----------------------------------------About Css------------------------------------------- */
#about {
  height: 100vh;
  width: auto;
  background-color: #235ba9;
  scroll-margin-top: 75px;
}
#about h1 {
  color:black;
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}
.aboutTwo {
  float: left;
}

/* ----------------------------------------Sponser Css------------------------------------------- */
#spons {
  height: 100vh;
  width: auto;
  background-color: white;
  scroll-margin-top: 75px;
}
#spons h1 {
  color:#182b49;
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}


/* ----------------------------------------FAQ Css------------------------------------------- */
#faq {
  height: 100vh;
  width: auto;
  background-color: #235ba9;
  scroll-margin-top: 75px;
}
#faq h1 {
  color:black;
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}


/* ----------------------------------------Contact Css------------------------------------------- */
#contact {
  height: 100vh;
  width: auto;
  background-color: white;
  scroll-margin-top: 75px;
}
#contact h1 {
  color:#182b49;
  text-align: center;
  font-weight: 650;
  font-size: 60px;
  /* padding-top: 70px; */
}

/* ----------------------------------------Accordian stuff Css------------------------------------------- */
.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
}
.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: var(--clr-grey-special);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--clr-red-special);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

.question-title {
  cursor: pointer;
}
