:root {
  --lightBlue: #155fa8;
  --darkBlue: #13416e;
  --white: #ffffff;
  --titleFont: Poppins;
  --normalFont: Arial;
  --titleFontSize: 50px;
  --normalFontSize:  30px;
}

.Redirect-Button {
  width: 20%;
  height: 50px;
  border-radius: 999px;
  padding: 0;
  border: none;
  background-color: var(--lightBlue);
  color: var(--white);
  font-family: var(--normalFont);
  font-size: var(--normalFontSize);
  font-weight: bold;
}